@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  float: left;
  font-size: 1.7em;
  color: #DAE9E4;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #A0C1B8;
  text-decoration: none;
}

.centre {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover_image.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
  color: #351F39;
}

.btn-xlarge {
  background-color: #726A95;
  color: #dae9e4;
  border: #351f39
}

.btn-xlarge:hover {
  background-color: #351f39;
  color: #dae9e4;
  border: #726A95;
}

.footer {
   position: fixed;
   left: 0;
   height: 50px;
   bottom: 0;
   width: 100%;
   background-color: #351f39;
   color: #dae9e4;
   text-align: center;
   font-family: sans-serif;
}

body {
  background-color: #dae9e4;
}

.navbar-default {
  background-color: #351f39;
}

.navbar-default .navbar-nav > li > a {
  color: #DAE9E4;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #2c1a2f;
  color: #a0c1b8;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #2c1a2f;
  color: #a0c1b8;
}

.btn-default {
  background-color: #726A95;
  color: #dae9e4;
  border: #351f39
}
