#logo {
  float: left;
  font-size: 1.7em;
  color: #DAE9E4;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  background-color: #351f39;
}

#logo:hover {
  color: #A0C1B8;
  text-decoration: none;
}

ul {
  background-color: #351f39;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  font-family: "Verdana";
  font-variant: small-caps;
  position: relative;
}

li {
    float: left;
}

li a {
    display: block;
    color: #DAE9E4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 33px;
}

li a:hover {
  background-color: #2c1a2f;
  color: #a0c1b8;
}

li a, .dropbtn {
    background-color: #351f39;
    color: #DAE9E4;

    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}














.active {
  background-color: #2c1a2f;
  color: #a0c1b8;
}

.centre {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover_image.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
  color: #351F39;
}

.btn-xlarge {
  background-color: #726A95;
  color: #dae9e4;
  border: #351f39
}

.btn-xlarge:hover {
  background-color: #351f39;
  color: #dae9e4;
  border: #726A95;
}

.footer {
   position: fixed;
   left: 0;
   height: 50px;
   bottom: 0;
   width: 100%;
   background-color: #351f39;
   color: #dae9e4;
   text-align: center;
   font-family: sans-serif;
}

body {
  background-color: #dae9e4;
  color: #351F39;
}


.btn-default {
  background-color: #726A95;
  color: #dae9e4;
  border: #351f39
}

.description {
  margin-top: 0;
}

.well {
  background: linear-gradient(#dae9e4, #92b0a8);
  border-top-color: #8b85a8;
  color: #351f39;
  text-align: center;
  font-family: sans-serif;
}

hr {
  border-color: #8b85a8;
}

h1 {
  color: #351F39;
  text-align: center;
  font-family: sans-serif;
}

.para {
  color: #351F39;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
}

.colormatch a {
  color: #351F39;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  color: #B79BA5;
  font-weight: bold;
  font-size: 1.25em;
}

a {
  color: #956a78;
  font-weight: normal;
  border-radius: 0;
}

a:hover {
  color: #B79BA5
}
